<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">

</head>

<body>

<h1>You know the routine: Hello world.</h1>

<form action="/input">
	<ul>
		<li><label>How many drinks have you had?<input type="text" name="drinks"></label>
		</li>

		<li><label>How much do you weigh?<input type="text" name="weight"></label>
		</li>
		
		<li><label>What's your sex?</label>
			<select name="sex">
				<option value="female">Female</option>
				<option value="male">Male</option>
			</select>
		</li>

		<li><label>How many hours have you been drinking?<input type="text" name="hours"></label>
		</li>
		
		<li><input type="submit">
		</li>
</form>

</body>

</html>