<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">
<!-- 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

</head>

<body>

<h1>DUIs Are Expensive: An App Using the Uber API</h1>

<div id="container">

<form id="address-form" action="/results">

	<h1>Hey, where you at?</h1>

		<label>Enter your current address:
			<input type="text" name="start_address">
		</label>

	<h1>Where ya going?</h1>

		<label>Enter your destination address:
			<input type="text" name="end_address">
		</label>

	<button type="submit" id="address-inputs">Click</button>

</form>

</div>

<script type="text/javascript">

console.log("It got here I guess")

$('#address-form').on('submit', createBacForm);

function createBacForm(evt) {

	evt.preventDefault();

	$('#container').empty();

	//create a form
	var f = document.createElement('form');
	f.setAttribute('method','get');
	f.setAttribute('action','/results');

//create input element
	var i = document.createElement('input');
	i.label = "How much do you weigh?";
	i.type = 'text';
	i.name = 'weight';

//create a checkbox
	var o = document.createElement("input");
	o.label = "What is your sex?";
	o.type = 'select';
	o.name = 'sex';
	o.option = ['Female', 'Male'];

//create a button
	var s = document.createElement('input');
	s.type = 'submit';
	s.value = "Submit";

// add all elements to the form
	f.appendChild(i);

	f.appendChild(o);
		for (x in o.option) {
			console.log(x);
		}

	f.appendChild(s);

// add the form inside the body
	$('#container').append(f);

	console.log("It happened")
	}

</script>

<!-- 	<ul>
		<li>How many drinks have you had?
			<ul>
				<li>
					<label>Beer?<input type="text" name="beer"></label>
		</li>

		<li><label>How much do you weigh?<input type="text" name="weight"></label>
		</li>
		
		<li><label>What's your sex?</label>
			<select name="sex">
				<option value="female">Female</option>
				<option value="male">Male</option>
			</select>
		</li>

		<li><label>How many hours have you been drinking?<input type="text" name="hours"></label>
		</li>
		
		<li><input type="submit">
		</li>
</form> -->

</body>

</html>